#!/usr/bin/env python
PACKAGE = "reachability_analysis"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Joint value
gen.add("FL_hip", double_t, 0, "hip joint angle for FL leg", 0.0, -3.1415, 3.1415)
gen.add("FL_thigh", double_t, 0, "thigh joint angle for FL leg", 0.0, -3.1415, 3.1415)
gen.add("FL_calf", double_t, 0, "calf joint angle for FL leg", 0.0, -3.1415, 3.1415)

gen.add("FR_hip", double_t, 0, "hip joint angle for FR leg", 0.0, -3.1415, 3.1415)
gen.add("FR_thigh", double_t, 0, "thigh joint angle for FR leg", 0.0, -3.1415, 3.1415)
gen.add("FR_calf", double_t, 0, "calf joint angle for FR leg", 0.0, -3.1415, 3.1415)

gen.add("BL_hip", double_t, 0, "hip joint angle for BL leg", 0.0, -3.1415, 3.1415)
gen.add("BL_thigh", double_t, 0, "thigh joint angle for BL leg", 0.0, -3.1415, 3.1415)
gen.add("BL_calf", double_t, 0, "calf joint angle for BL leg", 0.0, -3.1415, 3.1415)

gen.add("BR_hip", double_t, 0, "hip joint angle for BR leg", 0.0, -3.1415, 3.1415)
gen.add("BR_thigh", double_t, 0, "thigh joint angle for BR leg", 0.0, -3.1415, 3.1415)
gen.add("BR_calf", double_t, 0, "calf joint angle for BR leg", 0.0, -3.1415, 3.1415)

# Superquadrics
gen.add("sqCurvX", double_t, 0, "x-ax curvature for superquadric",    .5, -10.0,   10.0)
gen.add("sqCurvY", double_t, 0, "y-ax curvature for superquadric",    .5, -10.0,   10.0)
gen.add("sqCurvZ", double_t, 0, "z-ax curvature for superquadric",    .5, -10.0,   10.0)

gen.add("sqDimX", double_t, 0, "x-ax dimension for superquadric ",    .5, -1.0,   1.0)
gen.add("sqDimY", double_t, 0, "y-ax dimension for superquadric",    .5, -1.0,   1.0)
gen.add("sqDimZ", double_t, 0, "z-ax dimension for superquadric",    .5, -1.0,   1.0)

gen.add("x_offset_front", double_t, 0, "offset in x dir for front two legs",    .5, -1.0,   1.0)
gen.add("x_offset_back", double_t, 0, "offset in x dir for back two legs",    .5, -1.0,   1.0)
gen.add("y_offset_left", double_t, 0, "offset in y dir for left two legs",    .5, -1.0,   1.0)
gen.add("y_offset_right", double_t, 0, "offset in y dir for right two legs",    .5, -1.0,   1.0)
gen.add("z_offset", double_t, 0, "offset in z dir for all legs",    .5, -1.0,   1.0)
gen.add("roll", double_t, 0, "roll",    0.0, -3.1415, 3.1415)
gen.add("pitch", double_t, 0, "pitch",    0.0, -3.1415, 3.1415)
gen.add("yaw", double_t, 0, "yaw",    0.0, -3.1415, 3.1415)

# [1] https://wiki.ros.org/dynamic_reconfigure/Tutorials/HowToWriteYourFirstCfgFile
# [2] https://wiki.ros.org/dynamic_reconfigure/Tutorials/SettingUpDynamicReconfigureForANode%28cpp%29
# second argument: what package in which this reconfigure node will be created
# third argument: what name will be assigned to the auto-generated files ({FILENAME}Config.h)
exit(gen.generate(PACKAGE, "reachability_analysis", "Parameters"))