#!/usr/bin/env python
PACKAGE = "reachability_analysis"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("sqCurvX", double_t, 0, "sqCurvX",    .5, -10.0,   10.0)
gen.add("sqCurvY", double_t, 0, "sqCurvY",    .5, -10.0,   10.0)
gen.add("sqCurvZ", double_t, 0, "sqCurvZ",    .5, -10.0,   10.0)

gen.add("sqDimX", double_t, 0, "sqDimX",    .5, -1.0,   1.0)
gen.add("sqDimY", double_t, 0, "sqDimY",    .5, -1.0,   1.0)
gen.add("sqDimZ", double_t, 0, "sqDimZ",    .5, -1.0,   1.0)

gen.add("x_offset_front", double_t, 0, "offset in x dir for front two legs",    .5, -1.0,   1.0)
gen.add("x_offset_back", double_t, 0, "offset in x dir for back two legs",    .5, -1.0,   1.0)
gen.add("y_offset_left", double_t, 0, "offset in y dir for left two legs",    .5, -1.0,   1.0)
gen.add("y_offset_right", double_t, 0, "offset in y dir for right two legs",    .5, -1.0,   1.0)
gen.add("z_offset", double_t, 0, "offset in z dir for all legs",    .5, -1.0,   1.0)

# [1] https://wiki.ros.org/dynamic_reconfigure/Tutorials/HowToWriteYourFirstCfgFile
# [2] https://wiki.ros.org/dynamic_reconfigure/Tutorials/SettingUpDynamicReconfigureForANode%28cpp%29
# second argument: what package in which this reconfigure node will be created
# third argument: what name will be assigned to the auto-generated files ({FILENAME}Config.h)
exit(gen.generate(PACKAGE, "reachability_analysis", "Superquadrics"))